{% extends 'main/base.html' %}
{% load static %}
{% load blog_tags %}


{% block light_block %}
<div class="row align-items-center">
    <div class="col-8 text-center">
        <h1 class="">{{ object.title }}</h1><br/>
        <a class="btn btn-secondary btn-lg" href="{% url 'blog:list' %}">
            К списку статей
        </a>
    </div>
    <div class="col-2">
        {% if object.preview %}
        <img src="{% mediapath object.preview %}" class="img-fluid"/>
        {% else %}
        <img src="{% static 'blog/img/default_img.png' %}" class="img-fluid"/>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block dark_block %}
<div class="row-col g-4 text-start text-secondary">
    <p class="text-end">
        {{ object.published_at }}<br/>
        Просмотров: {{ object.views_count }}
    </p>
    <hr>
    {{ object.text | safe }}
</div>


{% endblock %}
