{% extends 'main/base.html' %}
{% load static %}

{% block light_block %}
<div class="row align-items-center">
    <div class="col-1 ">
    </div>
    {% if is_user_exist %}
    <div class="col-6 ">
        <h1>
            Регистрация
        </h1>
        <br/>Поздравляем! Регистрация успешно завершена.
    </div>
    <div class="col-5 text-center">
        <img src="{% static 'users/img/register_end_ok_main_img.png' %}" class="img-fluid"/>
    </div>
    {% else %}
    <div class="col-6 ">
        <h1>
            Регистрация
        </h1>
        <br/>Произошла ошибка! Попробуйте перейти по ссылке еще раз!
    </div>
    <div class="col-5 text-center">
        <img src="{% static 'users/img/register_end_err_main_img.png' %}" class="img-fluid"/>
    </div>
    {% endif %}
</div>
{% endblock %}



{% block dark_block %}
{% endblock %}